@using Microsoft.AspNetCore.Identity;
@model UserInformation;
@inject UserManager<UserCredentials> UserManager;

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <div class="mb-3">
        @Html.DisplayNameFor(model => model.fName)
        <input asp-for="fName" class="form-control" disabled>
    </div>

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.lName)
        <input asp-for="lName" class="form-control" disabled>

    </div>

        <div class="mb-3">
        @Html.DisplayNameFor(model => model.department)
        <input asp-for="department" class="form-control" disabled>
        </div>

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.email)
        <input asp-for="email" class="form-control" disabled>
    </div>
    @{
        
    }
    <form asp-action="RemovePatient" asp-controller="Admin" asp-route-refId="@Model.email" asp-route-id="@Model.userId">

        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    </form>
</div>