@* @model dynamic;
<table class="table">

    <tr>
        <th colspan="7">Doctor Details</th>
    </tr>

    <tr>
        <td>Full Name</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Department</td>

    </tr>
        <tr>
        @foreach (UserCredentials doc in Model.UserCredentials)
        {
            var id = ViewBag.DoctorId;
            if(id == doc.userId)
            {
                <td>@doc.fName @doc.lName</td>
                <td>@doc.email</td>
                <td>@doc.contactNum</td>
                <td>@doc.department</td>
            }
        }
    </tr>
        
</table>

<table class="table">

    <tr>
        <th colspan="3">Schedule</th>
    </tr>

    <tr>
        <td>Day</td>
        <td>Time</td>

    </tr>

        @foreach (UserSchedule sched in Model.DoctorSchedule)
        {
            var id = ViewBag.DoctorId;
            if (id == sched.userId)
            {
            <tr>
                <td>@sched.scheduleDate</td>
                <td>@sched.scheduleInfo</td>
            </tr>
            }
        
        }
</table> *@