@model IEnumerable<UserInformation>;

<table class="table">

    <tr>
        <th colspan="7">Doctor</th>
    </tr>

    <tr>
        <td>Full Name</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Department</td>
        <td>Schedule</td>

    </tr>
    @{
        string[] department = {
    "Anesthesiology",
    "Cardiology",
    "Dermatology",
    "General Surgery",
    "Geriatrics",
    "Gynaecology",
    "Hematology",
    "Internel Medicine",
    "Intensive Care Medicine",
    "Medicine",
    "Nephrology",
    "Neurology",
    "Obstetrics",
    "Ophthalmology",
    "Orthopedics",
    "Otohinolaryngology",
    "Pathology",
    "Pediatrics",
    "Plastic Surgery",
    "Radiology",
    "Rheumatology",
    "Surgery",
    "Urology"
        };
   
    foreach (UserInformation doc in Model)
    {
        // Filters to show only doctors no admins
        if(!(doc.department.ToString() == "PATIENT"))
        {
            <tr>
                <td>@doc.fName @doc.lName</td>
                <td>@doc.email</td>
                <td>@doc.contactNum</td>
                <td>
                        @{
                            var index = doc.department;
                            var fromArray = department.ElementAt(int.Parse(index));
                            @fromArray
                        }
                    
                </td>
                <td><a asp-action="Details" asp-route-id="@doc.userId" class="btn btn-primary">View Schedule</a></td>
            </tr>
        }

    }
}
</table>