@model IEnumerable<UserInformation>;

<table class="table">

    <tr>
        <th colspan="7">Doctor</th>
    </tr>

    <tr>
        <td>Full Name</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Department</td>
        <td>Schedule</td>

    </tr>
    @foreach (UserInformation doc in Model)
    {
        // Filters to show only doctors no admins
        if(!doc.department.Equals("ADMIN"))
        {
            <tr>
                <td>@doc.fName @doc.lName</td>
                <td>@doc.email</td>
                <td>@doc.contactNum</td>
                <td>@doc.department</td>
                <td><a asp-action="Details" asp-route-id="@doc.userId" class="btn btn-primary">View Schedule</a></td>
            </tr>
        }

    }
</table>