@model dynamic;
<table class="table">

    <tr>
        <th colspan="7">Doctor Details</th>
    </tr>

    <tr>
        <td>Reference</td>
        <td>Full Name</td>

    </tr>
    <tr>
        @foreach (PatientCredentials patient in Model.PatientCredentials)
        {
            var id = ViewBag.PatientId;
            if (id == patient.patientId)
            {
                <td>@patient.patientRef</td>
                <td>@patient.fName @patient.lName</td>
            }
        }
    </tr>

</table>

<table class="table">
    <tr>
        <th colspan="3">Medical History Record</th>
    </tr>

    <tr>
        <td>Attending Doctor</td>
        <td>Medical Concern</td>
        <td>Visit Date</td>
    </tr>

    @foreach (RecordMedHistory medhis in Model.RecordMedHistory)
    {
        var id = ViewBag.PatientId;
        if (id == medhis.patientId)
        {
            <tr>
                <td>@medhis.attendingDoctor</td>
                <td>@medhis.medConcern</td>
                <td>@medhis.visitDate</td>
            </tr>
        }

    }
</table>

<table class="table">
    <tr>
        <th colspan="3">Diagnosis</th>
    </tr>

    <tr>
        <td>Attending Doctor</td>
        <td>Diagnosis</td>
        <td>Visit Date</td>
    </tr>

    @foreach (RecordDiagnosis diag in Model.RecordDiagnosis)
    {
        var id = ViewBag.PatientId;
        if (id == diag.patientId)
        {
            <tr>
                <td>@diag.attendingDoctor</td>
                <td>@diag.diagnosisText</td>
                <td>@diag.visitDate</td>
            </tr>
        }

    }
</table>