@using MediSynthFinals.Models;
@using Microsoft.AspNetCore.Identity;
@model MediSynthFinals.ViewModel.PatientProfileViewModel
@inject UserManager<UserCredentials> UserManager;

<link rel="stylesheet" href="~/css/List.css">

<table>

    <tr>
        <th colspan="12">Patient Details</th>
    </tr>

    <tr>
        <th colspan="12"><a asp-action="Edit" asp-controller="Patient">Edit Information</a></th>
    </tr>

    <tr>
        <td>Reference</td>
        <td>Full Name</td>
        <td>Address</td>
        <td>Region</td>
        <td>City</td>
        <td>Birthdate</td>
        <td>Birthplace</td>
        <td>Contact Number</td>
        <td>Occupation</td>
        <td>Religion</td>
        <td>Emergency Name</td>
        <td>Emergency Number</td>
    </tr>
    <tr>
        @foreach (var item in Model.PatientCredentials)
        {
            var id = UserManager.GetUserId(User);
            if (id == item.patientRef)
            {
            <tr>
                <td>@item.patientRef</td>
                <td>@item.fName @item.lName</td>
                <td>@item.address</td>
                <td>@item.region</td>
                <td>@item.city</td>
                <td>@item.birthdate.ToString("MMMM dd, yyyy")</td>
                <td>@item.birthplace</td>
                <td>@item.contactNum</td>
                <td>@item.occupation</td>
                <td>@item.religion</td>
                <td>@item.emergencyName</td>
                <td>@item.emergencyNum</td>
            </tr>
            }

        }
    </tr>

</table>

<table class="table">
    <tr>
        <th colspan="3">Medical History Record</th>
    </tr>

    <tr>
        <td>Attending Doctor</td>
        <td>Medical Concern</td>
        <td>Visit Date</td>
    </tr>

    @foreach (var item in Model.RecordMedHistory)
    {
        var id = UserManager.GetUserId(User);
        if (id == item.patientId)
        {
            <tr>
                <td>@item.attendingDoctor</td>
                <td>@item.medConcern</td>
                <td>@item.visitDate</td>
            </tr>
        }
    }
</table>

<table class="table">
    <tr>
        <th colspan="3">Diagnosis</th>
    </tr>

    <tr>
        <td>Attending Doctor</td>
        <td>Diagnosis</td>
        <td>Visit Date</td>
    </tr>
    @foreach (var item in Model.RecordDiagnosis)
    {
        var id = UserManager.GetUserId(User);
        if (id == item.patientId)
        {
            <tr>
                <td>@item.attendingDoctor</td>
                <td>@item.diagnosisText</td>
                <td>@item.visitDate</td>
            </tr>
        }
    }
</table>