@using Microsoft.AspNetCore.Identity;
@model MediSynthFinals.ViewModel.PatientProfileViewModel
@inject UserManager<UserCredentials> UserManager;

<h2>Data from Table 1</h2>
<table>
    <!-- Display data from Table 1 -->
    <tr>
        <td>Reference</td>
        <td>Full Name</td>
        <td>Address</td>
        <td>Region</td>
        <td>City</td>
        <td>Birthdate</td>
        <td>Birthplace</td>
        <td>Contact Number</td>
        <td>Occupation</td>
        <td>Religion</td>
        <td>Emergency Name</td>
        <td>Emergency Number</td>
    </tr>
    @foreach (var item in Model.PatientCredentials)
    {
        var id = UserManager.GetUserId(User);
        if (id == item.patientRef)
        {
            <tr>
                <td>@item.patientRef</td>
                <td>@item.fName @item.lName</td>
                <td>@item.address</td>
                <td>@item.region</td>
                <td>@item.city</td>
                <td>@item.birthdate.ToString("MMMM dd, yyyy")</td>
                <td>@item.birthplace</td>
                <td>@item.contactNum</td>
                <td>@item.occupation</td>
                <td>@item.religion</td>
                <td>@item.emergencyName</td>
                <td>@item.emergencyNum</td>
            </tr>
        }

    }
</table>

<h2>Data from Table 2</h2>
<table>
    <!-- Display data from Table 2 -->
    <tr>
        <td>Attending Doctor</td>
        <td>Medical Concern</td>
        <td>Visit Date</td>
    </tr>

    @foreach (var item in Model.RecordMedHistory)
    {
        var id = UserManager.GetUserId(User);
        if (id == item.patientId)
        {
            <tr>
                <td>@item.attendingDoctor</td>
                <td>@item.medConcern</td>
                <td>@item.visitDate</td>
            </tr>
        }
    }
</table>

<h2>Data from Table 3</h2>
<table>
    <!-- Display data from Table 3 -->
    <tr>
        <td>Attending Doctor</td>
        <td>Diagnosis</td>
        <td>Visit Date</td>
    </tr>
    @try
    {
        @foreach (var item in Model.RecordDiagnosis)
        {
            var id = UserManager.GetUserId(User);
            if (id == item.patientId)
            {
                <tr>
                    <td>@item.attendingDoctor</td>
                    <td>@item.diagnosisText</td>
                    <td>@item.visitDate</td>
                </tr>
            }
        }
    }
    catch (Exception e)
    {
        Console.WriteLine(e.ToString());
    }
</table>
